@model List<Miljoboven.Models.Errand>

@{
    Layout = "_LoginInvestigatorLayout";
}

<h2>Ärenden</h2>
<p class="info">Du är inloggad som handläggare</p>

<form method="get" action="StartInvestigator">
    <table id="managerForm">
        <tr>
            <td class="label">Välj status:</td>
            <td>&nbsp;</td>
            <td class="label">Ärendenummer:</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <select name="status">
                    <option value="">Välj alla</option>
                    <option value="Inrapporterad">Inrapporterad</option>
                    <option value="Ingen åtgärd">Ingen åtgärd</option>
                    <option value="Påbörjad">Påbörjad</option>
                    <option value="Klar">Klar</option>
                </select>
            </td>
            <td><input class="button" type="submit" value="Hämta lista" /></td>
            <td><input name="caseNumber" placeholder="Ärendenummer" /></td>
            <td><input class="button" type="submit" value="Sök" /></td>
        </tr>
    </table>
</form>

<!-- Dynamically list errands -->
<table>
    <tr>
        <th>Ärende anmält</th>
        <th>Ärendenummer</th>
        <th>Miljöbrott</th>
        <th>Status</th>
        <th>Avdelning</th>
        <th>Handläggare</th>
    </tr>

    @foreach (var errand in Model)
    {
        <tr>
            <td>@errand.DateOfObservation.ToString("yyyy-MM-dd")</td>
            <td>
                <a asp-controller="Investigator" asp-action="Details" asp-route-id="@errand.ErrandId">
                    @errand.ErrandId
                </a>
            </td>
            <td>@errand.TypeOfCrime</td>
            <td>@errand.StatusId</td>
            <td>@errand.DepartmentId</td>
            <td>@errand.EmployeeId ?? "Ingen utredare satt"</td>
        </tr>
    }
</table>
