@model List<Miljoboven.Models.Errand>

@{
    Layout = "_LoginCoordinatorLayout";
}

<h2>Ärenden</h2>
<p class="info">Du är inloggad som samordnare</p>

<form method="get" action="StartCoordinator">
    <table id="managerForm">
        <tr>
            <td class="label">Välj status:</td>
            <td class="label">Välj avdelning:</td>
            <td>&nbsp;</td>
            <td class="label">Ärendenummer:</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <select name="status">
                    <option selected="">Välj alla</option>
                    @foreach (var status in ViewBag.Statuses)
                    {
                        <option value="@status">@status</option>
                    }
                </select>
            </td>
            <td>
                <select name="department">
                    <option selected="">Välj alla</option>
                    @foreach (var department in ViewBag.Departments)
                    {
                        <option value="@department">@department</option>
                    }
                </select>
            </td>
            <td><input class="button" type="submit" value="Hämta lista" /></td>
            <td><input name="caseNumber" /></td>
            <td><input class="button" type="submit" value="Sök" /></td>
        </tr>
    </table>
</form>

<!-- Här visas listan på ärenden -->
<table>
    <tr>
        <th>Ärende anmält</th>
        <th>Ärendenummer</th>
        <th>Miljöbrott</th>
        <th>Status</th>
        <th>Avdelning</th>
        <th>Handläggare</th>
    </tr>

    @foreach (var errand in Model)
    {
        <tr>
            <td>@errand.DateOfObservation.ToString("yyyy-MM-dd")</td>
            <td>
                <a asp-controller="Coordinator" asp-action="CrimeCoordinator" asp-route-errandId="@errand.ErrandId">
                    @errand.ErrandId
                </a>
            </td>
            <td>@errand.TypeOfCrime</td>
            <td>@errand.StatusId</td>
            <td>@errand.DepartmentId</td>
            <td>@errand.EmployeeId</td>
        </tr>
    }
</table>
